* {
box-sizing: border-box;
}

h1 {
    font-size: 2.8rem;
    color: #172551;
}

body .container .row {
    justify-content: center;
    margin: 20vh 10px;
}

body .container {
    height: 100vh;
    max-width: 100%;
    padding: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    width: 150px;
    height: 37px;
}

button {
    background: #5fbd68 !important;
    color: #fff;
    border: solid 1px #5fbd68 !important;
    padding-left: 18px;
    padding-right: 18px;
}

input[type='submit'], button.primary, button.primary {

}

form {
    width: 280px;
    margin: 0px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navigation-navbar {
    background-color: #1b2e5c;
    color: #F1F7FF;
    border: none;
    box-shadow: none;
}

navbar-nav {
    displa: flex;

}

.errorMessage{
    display: none;
}

button.send {
    background: #5fbd68 !important;
    color: #fff;
    border: solid 1px #5fbd68 !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 4px;
}


